
.car_accounting{
    background: url(../img/car_bg.jpg)center top/cover no-repeat;
    width: 100%;
    min-height: 768px;
    position: relative;
    padding-bottom: 100px;
    // название блока
    .title{
        display: flex;
        justify-content: space-between;
        // align-items: center;
        margin: 0;
        padding-top:217px;
        @include tablets{
            display: block;
            //margin-top: rem(274px);
        }
        // @include before_phones{
        //     margin-top: rem(244px);
        // }
        // @include phones{
        //     margin-top: 223px;
        // }
        &__1part{
            font-family:'Baufra-SemiBold';
            color:$white;
            font-size: rem(58px);
            margin-top: rem(30px);
            @include laptop{
                font-size: rem(50px);
            }
            @media (max-width: 865px){
                font-size: rem(46px);
            }
            @include before_tablets{
                font-size: rem(42px);
                margin-top: rem(35px);
            }
            @include tablets{
                font-size: rem(52px);
            }
            @include before_phones{
                font-size: rem(50px); 
            }
            @media (max-width: 541px){
                font-size: rem(48px);
            }
            @include phones{
                font-size: rem(44px);
            }
            @media (max-width: 395px){
                font-size: rem(40px);
            }
            @media (max-width: 340px){
                font-size: rem(37px);
            }
        }
        &__2part{
            font-family: 'Baufra-Medium';
            // margin-right: rem(94px);
            font-size: rem(58px);
            color:$white;
            font-weight: 400;
            @include laptop{
                font-size: rem(50px);  
            }
            @media (max-width: 865px){
                font-size: rem(46px);
            }
            @include before_tablets{
                font-size: rem(42px);
            }
            @include tablets{
                font-size: rem(40px);
               
            }
            @include before_phones{
                font-size: rem(38px); 
            }
            @include phones{
                font-size: rem(44px); 
            }
            &__minutes--tab{
                font-weight: 500;
                display: none;
                @include tablets{
                    font-size: rem(44px);
                    display: block;
                }
            }
            &--minutes{
                display: block;
            }
            &--flex{
                margin-right: rem(94px);
                display: flex;
                align-items: center;
                margin-top: -16px;
                @include desctop{
                    margin-right:0;
                }
                @include laptop{
                    margin-top: -8px;
                }
                @media (max-width: 865px){
                    margin-top: -4px;
                }
                @include before_tablets{
                    margin-top: 3px; 
                }
                @include tablets{
                display: block;
                }
            }
            &--size{
                font-family: 'Baufra-Medium';
                font-size: rem(103px);
                margin-top: rem(-20px);
                color:$white;
                @include laptop{
                    font-size: rem(95px);
                }
                @include tablets{
                    font-size: rem(71px);
                }
                @include before_phones{
                    font-size: rem(69px); 
                }
                @include phones{
                    font-size: rem(82px);
                }
            }
            &--tabl{
                @include tablets{
                display: block;
                }
            }
        }
        &__des{
            font-family: 'Baufra-Regular';
            color:$white;
            font-size: rem(58px);
            margin: 0;
            margin-top: -48px;
            @include laptop{
                font-size: rem(50px);
            }
            @media (max-width: 865px){
                margin-top: -30px;
            }
            @include before_tablets{
                font-size: rem(42px);
             
            }
            @include tablets{
                display: none;
            }
            @include before_phones{
                font-size: rem(40px); 
            }
            &--tabl{
                display: none;
                font-family: 'Baufra-Regular';
                color:$white;
                font-size: rem(57px);
                margin: 0;
                @include tablets{
                    display: block;
                    margin-bottom: rem(50px);
                    font-weight: 400;
                }
                @include before_phones{
                    font-size: 57px; 
                    margin-bottom: 39px;
                }
            }
            
            
        }
    } 
    // цена
    .price{
        position: relative;
        max-width: rem(400px);
        min-height: rem(60px);
        margin-top: 166px;
        margin-left: rem(29px);
        @include tablets{
            margin-top: rem(278px); 
            margin-bottom: rem(100px);
        }
        @include before_phones{
            margin-top: rem(248px);
            margin-bottom: rem(30px);
        }
        @include phones{
            margin-top:249px;
            margin-bottom: rem(30px);
        }
        @media (max-width: 340px){
            margin-top:200px;
        }
        &::before{
            content: "";
            position: absolute;
            width: rem(1px);
            height: 100%;
            left: rem(-25px);
            background-color:$white;
        }
        &__list{
            margin: 0;
            padding-left: 0;
            list-style: none;
            color:$grey;
            font-size: rem(18px);
            font-family: "PTSansCaptionRegular";
            vertical-align: center;
            @media (max-width: 340px){
                font-size: rem(16px);
            }
        }
        &__items{
            padding-top: rem(6px);
            &--margin{
                margin-top:rem(3px);
            }
        }
    } 
}
.provision__block__phone--mainPage{
    padding: 0;
    margin: 0;
    margin-top: 22px;
    margin-left: 3px;
    font-size: rem(58px);
    @include laptop {
        font-size: rem(54px);
    }
    @include before_tablets {
        font-size: rem(50px);
    }
    &::before{
        display: none;  
    }
    &--click {
        display: none;
        @include tablets {
            display: block;
            text-decoration: none;
            padding-left: 0;
            margin-bottom: 0;
            font-size: rem(48px);
            &::before {
                display: none;
            }
        }
        @include phones {
            font-size: rem(42px);
        }
    }
}
