.our-work{
    display: block;
    background-color:#fff;
    min-height: rem(768px);
    width: 100%;  
    @media(max-width: 600px){
        margin-bottom: -60px;
        
    }  
    .work__style{
        font-family: 'Baufra-Bold';
        color:$dark_grey;
        font-size: rem(36px);
        text-align: center;
        margin: 0;
        margin-top: rem(74px);
        @include tablets{
            margin-top: rem(100px);  
        }  
           
    }
    .work{
        margin-top: rem(92px);
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        @include tablets{
            flex-direction: column;
            align-items: center;
            margin-top: 65px;
            margin-bottom: rem(50px);
        }
        @include before_phones{
            margin-top: rem(40px);
        }
        &__items{
            display: flex;
            flex-direction: column;
            align-items: center;
            @include tablets{
                margin-top: 18px;
            }

            &--center{
                max-width: rem(298px);
            }
            &--left{
                max-width: rem(262px);
            }
            &--right{
                max-width: rem(254px);
            }
            &--circle{
                width: rem(140px);
                height: rem(140px);
                border-radius: 50%;
                border:1px solid #49494f;
                position: relative;
                transition: .8s;
                &:hover{
                    -webkit-transform: scale(1.15);
                    transform: scale(1.15);
                }
                &--left{
                    margin-left:rem(35px);
                    @include laptop{
                        margin-left: 0;
                    }
                }
                &--right{
                    margin-right:rem(40px);
                    @include laptop{
                        margin-right: 0;
                    }
                }
                &--center{
                   margin-right: rem(6px);
                   @include laptop{
                       margin-right: 0;
                   }
                }
            }
            &__img{
                position: absolute;
                left: 0;
                right: 0;
                top:0;
                bottom:0;
                margin: auto;
            }
            &__desc{
                font-family: "PTSansCaptionRegular";
                font-size: rem(18px);
                color:$grey;
                text-align: center;
                margin-top: rem(69px);
                line-height: rem(29px);
                @include tablets{
                    margin-top: rem(15px);
                }
            }
           
            &--rectangle{
                 position: relative;
                 margin-top: 53px;
                @include tablets{
                    display: none;;
                }
                 img{
                     display: block;
                     margin: auto;
          
                 }
            }   
        }
        &__rectangle_down{
            display: none;
            @include tablets{
                display: block;
                margin-top:rem(26px);
                margin-bottom: rem(26px);
            }
        }
    }
}