
.ourServises__title{
    font-family: 'Baufra-Bold';
    font-size: rem(36px);
    color:$dark_grey;
    text-align: center;
    margin: 0;
    margin-bottom: 93px;
    @include tablets {
        padding-top: 80px;
    }

}
.ourServise-type{
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
    @include before_laptop {
        margin-bottom: 100px;
    }
    @include tablets {
        flex-direction: column;
        margin-bottom: 100px;
    }
    @include phones{
        margin-bottom: 65px;
    }
    &--flexTabl{
        @include tablets {
            flex-direction: column-reverse;
        } 
    }
    &__block-left{
        max-width: 538px;
        @include tablets {
            max-width: 100%;
        }
    }
    &__block-right{
        max-width: 538px;
        margin-right: 24px;
        @include laptop {
            margin-right: 0;
        }
        @include tablets {
            max-width: 100%;
            order: 1;
        }
    }
    &__title{
        font-family: 'Baufra-Bold'; 
        font-size: rem(36px);
        color:$dark_grey;
        margin: 0;
        @include laptop {
            font-size: rem(34px);
        }
       
    }
    &__desc{
        font-family: "PTSansCaptionRegular";
        font-size: rem(18px);
        color:$dark_grey;
        margin-top: 17px;
        line-height: 30px;
        @include laptop {
            font-size: rem(17px);
        }
        @include tablets {
            font-size: rem(18px);
        }
    }
    &__submit{
        width: 199px;
        height: 53px;
        background-color: #ff3861;
        border-radius: 35px;
        color: #fff;
        font-family: "PTSansCaptionRegular";
        font-size: 18px;
        border: none;
        outline: none;
        position: relative;
        margin-top: 35px;
        margin-left: 4px;
        display: block;
        text-decoration: none;
        padding-left: 37px;
        box-sizing: border-box;
        padding-top: 15px;
        cursor: pointer;
        -webkit-transition: .6s;
        -o-transition: .6s;
        transition: .6s;
        &:hover{
            box-shadow: 0px 11px 38px 0px rgba(255, 56, 97, 0.58);
        }
        &::after {
            content: '';
            position: absolute;
            background-image: url(../img/arrow_left.png);
            right: 25px;
            top: 23px;
            width: 21px;
            height: 7px;
            
        }
    }
}
.registration__block__img--up__serviseMain{
    margin-top: -11px;
    margin-right: 29px;
    width: 100%;
    @media(max-width:1110px){
        margin-right: 0;
    }
    @include before_laptop {
        margin-top: 0;
    }
    @include tablets {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 70%;
        display: block;
        margin: 0 auto ;
    }
    @include phones {
        width: 80%;
    }
}
.registration__block__img--down__serviseMain{
    margin-top: -43px;
    margin-left: 27px;
    width: 100%;
    @media(max-width:1110px){
        margin-left: 0;
    }
    @include before_laptop {
        margin-top: 0;
    }
    @include tablets {
        margin-top: 25px;
        margin-bottom: 25px;
        width: 70%;
        display: block;
        margin: 25px auto ;
    }
    @include phones {
        width: 80%;
    }
}
.ourServise-type__left{
    max-width: 564px;
    margin-left: 151px;
    @media(max-width:1136px) {
        margin-left: 100px;
    }
    @include before_laptop {
        margin-left: 65px;
    }
    @include laptop {
        margin-left: 0;
        max-width: 500px;
    }
    @media(max-width:745px) {
        max-width: 100%;
    }
}
.ourServise-type__team{
    background: url(../img/Girl.png);
    background-repeat: no-repeat;
    min-height: 429px;
    background-position: right -39px bottom -82px;
    @media (max-width:1136px) {
        background-position: right -82px bottom -82px;
    }
    @include before_laptop {
        background-position: right -135px bottom -82px;
    }
    @include laptop {
        background-position: right -188px bottom -82px;
    }
    @media(max-width:745px) {
        background: none;
    }
}

.ourServise-type__title-about-team{
    font-family: 'Baufra-Bold';
    font-size: 2.25rem;
    color: #343339;
    margin: 0;
    padding-top: 99px;
    margin: 0 auto;
        @include laptop {
            font-size: rem(34px);
        }
        @include phones {
            padding-top: 60px;
        }
        
}
.ourServise-type__desc-team{
    margin-top: 27px;
    margin-bottom: 13px;
    @media(max-width:745px) {
        margin-top: 17px;
    }
}
.team-block__phone{
    font-size: rem(36px);
    margin-top: 5px;
    margin-left: 0;
    @media (max-width: 380px) {
        padding-bottom: 30px;
    }
}